<table style="width: 90%"" border="1%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Gender</th>
    <th>Age</th>
    <!-- <th>Employee ID</th> -->
  </tr>
  <tr>
    <th><%- fname %></th>
    <th><%- email %></th>
    <th><%- phone %></th>
    <th><%- gender %></th>
    <th><%- age %></th>
    
    
  </tr>
</table>
<button><a href="/wages">NEXT</a></button>
